:root {
    --smartdepot-blue: #0078D4;
    --smartdepot-grey: #d7d7d7;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.bd-navbar {
    max-height: 40px;
    background-color: var(--smartdepot-blue);
}

.navbar-brand {
    margin: 5px;
}

.top-params {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: flex-end;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex: 1;
    overflow-y: auto;
}

.login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    z-index: 10;
}

.close {
    top: 2px;
    right: 2px;
    position: absolute;
    padding: 2px;
}

.login-button {
    margin-top: 5%;
}

.left_params {
    display: flex;
    flex-direction: column;
    min-width: 425px;
    width: 425px;
    max-width: 75%;
    height: 100%;
    z-index: 2;
    background-color: var(--smartdepot-grey);
    border-radius: 5px;
    overflow-y: auto;
    box-sizing: border-box;
}

#auslagern-button{
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content p {
    margin-right: 10px
}

.add-delivery {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
    z-index: 9;
}

.delivery {
    margin-bottom: 5px;
}

.handle {
    display: flex;
    flex-direction: column;
    min-width: 2.5px;
    max-width: 2.5px;
    z-index: 2;
    flex: 0 0 auto;
    height: 98%;
    align-self: center;
    padding: 0;
    cursor: col-resize;
}

.handle:hover {
    background-color: var(--smartdepot-blue);

}

.working_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex: 1 1 auto;
    padding-right: 1%;
    box-sizing: border-box;
}

#depot-plan {
    width: 100%;
    height: 100%;
    z-index: 2;
}

svg {
    display: flex;
    width: auto;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: auto;
    z-index: 2;
}

.levels {
    top: 50%;
    left: 100%;
    transform: translate(-105%, -50%);
    position: absolute;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    min-height: 125px;
    z-index: 3;
}

.btn-primary {
    margin: 2.5px 2.5px 2.5px 2.5px;
    background-color: var(--smartdepot-blue);
    border-color: var(--smartdepot-blue);
}

footer {
    font-size: x-small;
    min-height: 15px;
    max-height: 15px;
    color: #ffffff;
    background-color: var(--smartdepot-blue);
    text-align: center;
    align-content: end;
    z-index: 2;
}